.App {
  text-align: center;
}

.inner_div_class{
  width:100%;
  margin:auto;
  display: flex;
}
.main_image_div{
   width:60%;
   margin:auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.repetitive_div_class{
  width:18%;
  margin:1vw;
  border:1px solid black;


 
}

.img_class{
  width:100%;
  cursor:pointer;
 
 
}